.entradas{
    width: 300px;
    height: 40px;
    display: list-item;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(207, 200, 214);
    border-radius: 5px;
    color: white;
    border-color: rgb(179, 178, 176);
    font-family: 'Roboto', sans-serif;
}